.div-class {
  .search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card-class {
      flex: 30%;
      margin: 10px;
      max-width: 300px;

      .colors {
        display: flex;
        margin-top: 2px;
        span {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          margin-right: 6px;
        }
      }
    }
  }
  .pagination {
    margin: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .card-class {
    flex: 100% !important;
    max-width: 100%;
  }
}
