<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <div class="width-class">
      <app-autosuggest-search></app-autosuggest-search>
    </div>
    <button class="navbar-toggler" [ngClass]="{'collapsed': toggleCollapseNavBar ==  false }" type="button"
      data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleCollapseNavBar = !toggleCollapseNavBar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/cart']">Cart</a>
        </li>
        <li class="nav-item" *ngIf="!isLogin">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogin">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Manage Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">My Orders</a>
            <a class="dropdown-item">Post Item For Sell</a>
            <div class="dropdown-divider">Manage Posted Items</div>
            <a class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>