.product-categories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  .content {
    width: 150px;
    border: 1px solid;
    border-radius: 25px;
    height: 150px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-class {
    color: red;
  }
}

@media screen and (max-width: 1160px) {
  .product-categories {
    flex-wrap: wrap;
  }
  .content {
    flex: 40%;
    margin: 10px !important;
  }
}
