<div class="heading-class">
    <h2>Product Details</h2>
</div>
<div class="container">
    <div class="row card-wrapper">
        <div class="col-md-4" *ngIf="images.length > 0">
            <app-multi-image-corousel [courouselData]="images"></app-multi-image-corousel>
        </div>
        <div class="col-md-8" *ngIf="results.length > 0">
            <div class="product-content">
                <h2 class="product-title">{{results[0]?.product_title}}</h2>
                <div class="product-price">
                    <h4 class="new-price"><span>Price : {{results[0].price}} WEI</span></h4>
                    <h5> <span *ngIf="results[0]?.free_shipping == 'no'">Shipping : {{results[0].shipping_charges}}
                            WEI</span> <span *ngIf="results[0]?.free_shipping == 'yes'"> Free Shipping</span></h5>
                </div>
                <div class="product-detail">
                    <h2><i>About This Item:</i></h2>
                    <p *ngFor="let i of getResponse(results[0].product_desc)" class="padding-data">
                        {{i}}
                    </p>
                    <ul *ngFor="let res of results[0].features">
                        <li>{{res.name}}: <span>{{res.value}}</span></li>
                    </ul>
                </div>
                <div class="purchase-info">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div class="margin-class">
                            <input type="number" min="0" value="1" value="1" disabled />
                        </div>
                        <div class="margin-class">
                            <button type="button" class="btn" (click)="addToCart()">
                                Add to Cart <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                        <div class="margin-class">
                            <button type="button" class="btn">
                                Book with Token Amount <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="similarProduct.data.length > 0">
        <app-product-corousel [courouselData]="similarProduct"></app-product-corousel>
    </div>
</div>