<app-main-cousel></app-main-cousel>
<div class="container">
    <div class="product-categories">
        <div class="content">
            <img class="icon-class" src="assets/icons/electronics.png">
            <p>Electronics</p>
        </div>
        <div class="content">
            <img class="icon-class" src="assets/icons/appliances.png">
            <p>Applicances</p>
        </div>
        <div class="content">
            <img class="icon-class" src="assets/icons/fashion.png">
            <p>Fashion</p>
        </div>
        <div class="content">
            <img class="icon-class" src="assets/icons/beauty.png">
            <span>Beauty & <br> Grooming</span>
        </div>
        <div class="content">
            <img class="icon-class" src="assets/icons/furniture.png">
            <p>Furniture</p>
        </div>
        <div class="content">
            <img class="icon-class" src="assets/icons/decor.png">
            <p>Home Decor</p>
        </div>
    </div>
    <app-product-corousel [courouselData]="recentlyAdded"></app-product-corousel>
    <app-product-corousel [courouselData]="topTrending"></app-product-corousel>
</div>