<div class="courousel">
    <h3>{{courouselData?.heading}}</h3>
    <ngb-carousel *ngIf="courouselData?.data" [pauseOnHover]="true" [showNavigationIndicators]="false">
        <ng-template ngbSlide class="col-sm-12" *ngFor="let res of result">
            <div class="display-class">
                <div class="card card-div" style="width: 18rem;" *ngFor="let image of res">
                    <div class="picsum-img-wrapper">
                        <img class="card-img-top" [src]="image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>