.display-class {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.card-div {
  margin: 25px;
  width: 100% !important;
  max-width: 382px;
}

.courousel {
  margin-top: 5%;
}

.padding-class{
  padding: 40px;
}

.margin-class{
  margin: 15px
}