.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
}
.fx-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: teal;
  color: #fff;
  height: 75px;
}

.title-container {
  padding: 30px;
  display: flex;
  width: 100%;
}

.container-div {
  padding: 10px 30px 30px 30px;
}

.padding-bottom{
  padding: 10px;
}

.form-group{
  padding: 5px;
}

